#wrap{width: 100%; height: auto; overflow-x: hidden; }
// #wrap _____________________________________
  .box_wrap{width: 960px; height: 100%; margin: 0 auto;} //내용이 그리드 안에 들어가기 위한 용도
  
  #headBox{width: 100%; height: auto; background-color: map-get($color,white);}
    #unb{width: 100%; height: 35px; padding: 0 10px; box-sizing: border-box; border-bottom: 1px solid map-get($color,primary);
      ul{width: 400px; height: 100%; float: right;
        > li {width: auto; height: 100%; float: left; margin-right: 25px; line-height: 35px; font-size: 20/16 + rem; font-weight: bold;
          &:last-child{margin-right: 0;}
          a{width: 100%; height: 100%; display: block;}
        }//li
      }//ul
    }//#unb
    .box_main_head{width: 100%; height: 118px; padding-top: 22px; box-sizing:border-box;
      h1{width: 181px; height: 82px; @include bgImg($f:"header/logo.png"); float: left;}
      form{width: 540px; height: 42px; float: left; margin-top: 35px; margin-left: 56px;
        > fieldset{width: 100%; height: 100%; position: relative;
          #selectBook{width: 100px; height: 20px; font-size: 1rem; position: absolute; top:10px; left: 18px; z-index: 2000; border: 0;
          }//#selectBook
          #searchBook{width: 445px; height: 100%; float: left; border-radius: 21px 0 0 21px; padding-left: 120px; box-sizing:border-box; border: 2px solid map-get($color,point1);}
          #searchBookBtn{width: 540 - 445 + px; height: 100%; float: left; background-color: map-get($color,point1); font-size: 24/16 + rem; border: none;}
        }//fieldset
      }//form
    }//.box_main_head
    #gnb{width: 100%; height: 60px; background-color: map-get($color,primary); position: relative;
      .box_wrap{padding: 0 10px; box-sizing: border-box;}
      ul{width: 100%; height: 100%;
        li{width: auto; height: 100%; float: left; margin-right: 34px; color: map-get($color,white); font-size: 24/16 + rem; line-height: 60px; font-weight: bold;
          &:first-child{width: 152px; height: 62px; position: absolute; bottom: -60px; left: 50%; margin-left: -71px; z-index: 2000; @include bgImg($f:'gnb_menu.png'); cursor: pointer;
            button{width: 36px; height: 23px; border-bottom: 4px solid map-get($color,white); margin-left: 56px; position: relative; transition: all 500ms;
              &::before{content:" "; display: block; width: 36px; height: 4px; position: absolute; top:8px; left: 0; background-color: map-get($color,white); transition: all 500ms; }
              &::after{content:" "; display: block; width: 36px; height: 4px; position: absolute; top:30px; left: 0; background-color: map-get($color,white); transition: all 500ms;}
              &.button_deco{border: 0;}
              &.button_deco::before{transform:rotate(45deg); top: 20px;}
              &.button_deco::after{transform:rotate(-45deg); top: 20px;}
            }//button
          }//&:first-child
          &:last-child{margin-right: 0;}
        }//li
      }//ul
    }//#gnb
  // #headBox _____________________________________