@keyframes example {
  from {
    left: 0; }
  to {
    left: 20px; } }

@keyframes icon1 {
  from {
    top: 18px;
    left: 176px;
    transform: rotate(-18deg); }
  to {
    top: 20px;
    left: 186px;
    transform: rotate(-35deg); } }

@keyframes icon2 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes icon3 {
  from {
    transform: translateX(-80px); }
  to {
    transform: translateX(80px); } }

#wrap {
  width: 100%;
  min-width: 960px;
  height: auto;
  overflow-x: hidden; }

.box_wrap {
  width: 960px;
  height: 100%;
  margin: 0 auto; }

#headBox {
  width: 100%;
  height: auto;
  background-color: #fff; }

#unb {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #4C5C6C; }
  #unb ul {
    width: 400px;
    height: 100%;
    float: right; }
    #unb ul > li {
      width: auto;
      height: 100%;
      float: left;
      margin-right: 25px;
      line-height: 35px;
      font-size: 1.25rem;
      font-weight: bold; }
      #unb ul > li:last-child {
        margin-right: 0; }
      #unb ul > li a {
        width: 100%;
        height: 100%;
        display: block; }

.box_main_head {
  width: 100%;
  height: 118px;
  padding-top: 22px;
  box-sizing: border-box; }
  .box_main_head #logo {
    width: 181px;
    height: 82px;
    background-image: url("../../img/header/logo.png");
    background-repeat: no-repeat;
    float: left; }
  .box_main_head form {
    width: 540px;
    height: 42px;
    float: left;
    margin-top: 35px;
    margin-left: 56px; }
    .box_main_head form > fieldset {
      width: 100%;
      height: 100%;
      position: relative; }
      .box_main_head form > fieldset #selectBook {
        width: 100px;
        height: 20px;
        font-size: 1rem;
        position: absolute;
        top: 10px;
        left: 18px;
        z-index: 2000;
        border: 0; }
      .box_main_head form > fieldset #searchBook {
        width: 445px;
        height: 100%;
        float: left;
        border-radius: 21px 0 0 21px;
        padding-left: 120px;
        box-sizing: border-box;
        border: 2px solid #F18C00; }
      .box_main_head form > fieldset #searchBookBtn {
        width: 95px;
        height: 100%;
        float: left;
        background-color: #F18C00;
        font-size: 1.5rem;
        border: none; }

#gnb {
  width: 100%;
  height: 60px;
  background-color: #4C5C6C;
  position: relative;
  z-index: 6500; }
  #gnb.fixed {
    position: fixed;
    top: 0;
    transform: translateY(-60px);
    box-shadow: 0 0.1rem 0.1rem rgba(51, 51, 51, 0.7); }
  #gnb.move {
    transform: translateY(0); }
  #gnb .box_wrap {
    padding: 0 10px;
    box-sizing: border-box; }
  #gnb ul {
    width: 100%;
    height: 100%;
    position: relative; }
    #gnb ul li {
      width: auto;
      height: 100%;
      float: left;
      margin-right: 34px;
      color: #fff;
      font-size: 1.5rem;
      line-height: 60px;
      font-weight: bold; }
      #gnb ul li:first-child {
        width: 152px;
        height: 62px;
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -71px;
        z-index: 2000;
        background-image: url("../../img/gnb_menu.png");
        background-repeat: no-repeat;
        cursor: pointer;
        display: none; }
        #gnb ul li:first-child button {
          width: 36px;
          height: 23px;
          border-bottom: 4px solid #fff;
          margin-left: 56px;
          position: relative;
          transition: all 500ms; }
          #gnb ul li:first-child button::before {
            content: " ";
            display: block;
            width: 36px;
            height: 4px;
            position: absolute;
            top: 8px;
            left: 0;
            background-color: #fff;
            transition: all 500ms; }
          #gnb ul li:first-child button::after {
            content: " ";
            display: block;
            width: 36px;
            height: 4px;
            position: absolute;
            top: 30px;
            left: 0;
            background-color: #fff;
            transition: all 500ms; }
          #gnb ul li:first-child button.button_deco {
            border: 0; }
          #gnb ul li:first-child button.button_deco::before {
            transform: rotate(45deg);
            top: 20px; }
          #gnb ul li:first-child button.button_deco::after {
            transform: rotate(-45deg);
            top: 20px; }
      #gnb ul li:last-child {
        margin-right: 0; }

#footBox {
  width: 100%;
  height: auto;
  background-color: #0af; }

#inb {
  width: 100%;
  height: 50px;
  background-color: #4C5C6C; }
  #inb .box_wrap {
    width: 1130px; }
  #inb ul {
    width: 100%;
    height: 100%; }
    #inb ul li {
      width: auto;
      height: 100%;
      float: left;
      font-size: 1rem;
      color: #fff;
      line-height: 50px;
      margin-right: 22px;
      position: relative; }
      #inb ul li::after {
        content: " ";
        width: 0;
        height: 14px;
        display: block;
        border-right: 1px solid #fff;
        position: absolute;
        top: 19px;
        right: -11px; }
      #inb ul li:last-child {
        margin-right: 0; }
      #inb ul li:last-child::after {
        display: none; }

.box_foot {
  width: 100%;
  height: 300px;
  background-color: #a8b5c2;
  padding-top: 60px;
  box-sizing: border-box; }
  .box_foot .box_wrap {
    padding: 0 10px;
    box-sizing: border-box; }
  .box_foot h2 {
    width: 140px;
    height: 110px;
    float: left;
    background-image: url("../../img/footer/logo.png");
    background-repeat: no-repeat;
    margin-top: 48px; }
  .box_foot .foot_content {
    width: 780px;
    height: 170px;
    float: left;
    margin-left: 20px; }
    .box_foot .foot_content a {
      text-decoration: underline;
      color: #0000C0; }
  .box_foot .top_line {
    width: 756px;
    height: 50px; }
    .box_foot .top_line h3 {
      width: auto;
      height: auto;
      float: left;
      font-size: 1.125rem; }
  .box_foot .line {
    width: 780px;
    height: 140px;
    font-size: 0.875rem; }
    .box_foot .line address {
      width: auto;
      height: auto;
      float: left;
      margin-right: 50px; }
      .box_foot .line address p {
        margin-bottom: 8px; }
    .box_foot .line .user_service {
      width: auto;
      height: auto;
      float: left; }
      .box_foot .line .user_service p, .box_foot .line .user_service dt, .box_foot .line .user_service dd {
        margin-bottom: 8px; }
      .box_foot .line .user_service dt {
        font-weight: bold; }
  .box_foot .box_sns {
    width: 168px;
    height: 48px;
    float: right;
    margin-top: -28px; }
    .box_foot .box_sns ul {
      width: 100%;
      height: 100%; }
      .box_foot .box_sns ul li {
        width: 48px;
        height: 48px;
        margin-right: 12px;
        float: left;
        background-image: url("../../img/footer/sns.png");
        background-repeat: no-repeat; }
        .box_foot .box_sns ul li:nth-child(1) {
          background-position: 10px center; }
        .box_foot .box_sns ul li:nth-child(2) {
          background-position: -44px center; }
        .box_foot .box_sns ul li:nth-child(3) {
          background-position: -100px center; }
        .box_foot .box_sns ul li:last-child {
          margin-right: 0; }
        .box_foot .box_sns ul li a {
          width: 100%;
          height: 100%;
          display: block; }

@media screen and (max-width: 1150px) {
  #inb > .box_wrap {
    width: 960px; }
  #inb > .box_wrap li {
    font-size: 0.8125rem; } }

#addBanner {
  width: 100%;
  height: 600px;
  position: relative; }
  #addBanner .wrap_banner {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    #addBanner .wrap_banner ul {
      width: 400%;
      height: 100%; }
      #addBanner .wrap_banner ul li {
        width: 25%;
        height: 100%;
        float: left;
        position: relative;
        background-position: center;
        background-size: cover; }
        #addBanner .wrap_banner ul li.bn_1 {
          background-image: url("../../img/main/event/event_1.png");
          background-repeat: no-repeat; }
        #addBanner .wrap_banner ul li.bn_2 {
          background-image: url("../../img/main/event/event_2.png");
          background-repeat: no-repeat; }
        #addBanner .wrap_banner ul li.bn_3 {
          background-image: url("../../img/main/event/event_3.png");
          background-repeat: no-repeat; }
        #addBanner .wrap_banner ul li.bn_4 {
          background-image: url("../../img/main/event/event_4.png");
          background-repeat: no-repeat; }
      #addBanner .wrap_banner ul a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 500; }
  #addBanner .box_btn {
    width: 390px;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -195px;
    bottom: 108px;
    z-index: 1000; }
    #addBanner .box_btn .btn_indicate {
      width: 254px;
      float: left;
      margin: 14px 40px 0 40px; }
      #addBanner .box_btn .btn_indicate li {
        width: 40px;
        height: 40px;
        background-color: #E4DBCF;
        float: left;
        margin-right: 30px;
        border-radius: 20px; }
        #addBanner .box_btn .btn_indicate li:hover {
          background-color: #F18C00; }
        #addBanner .box_btn .btn_indicate li:first-child {
          background-color: #F18C00; }
        #addBanner .box_btn .btn_indicate li:last-child {
          margin-right: 0; }
        #addBanner .box_btn .btn_indicate li > button {
          width: 100%;
          height: 100%;
          border-radius: 20px; }
    #addBanner .box_btn div {
      width: 28px;
      height: 68px;
      cursor: pointer;
      background-image: url("../../img/btn_event.png");
      background-repeat: no-repeat; }
    #addBanner .box_btn .btn_left {
      float: left;
      background-position: left top; }
      #addBanner .box_btn .btn_left:hover {
        background-position: left bottom; }
    #addBanner .box_btn .btn_right {
      float: right;
      background-position: right top; }
      #addBanner .box_btn .btn_right:hover {
        background-position: right bottom; }

.effect_maple {
  position: absolute;
  transition: all 100ms; }

.maple_1_l {
  width: 518px;
  height: 412px;
  z-index: 300;
  background-image: url("../../img/main/event/maple_1_l.png");
  background-repeat: no-repeat;
  top: 100px;
  left: -105px; }

.maple_2_l {
  width: 592px;
  height: 620px;
  z-index: 200;
  background-image: url("../../img/main/event/maple_2_l.png");
  background-repeat: no-repeat;
  top: 50px;
  left: -108px; }

.maple_3_l {
  width: 410px;
  height: 430px;
  z-index: 100;
  background-image: url("../../img/main/event/maple_3_l.png");
  background-repeat: no-repeat;
  top: 20px;
  left: -105px; }

.maple_1_r {
  width: 576px;
  height: 498px;
  z-index: 300;
  background-image: url("../../img/main/event/maple_1_r.png");
  background-repeat: no-repeat;
  top: 100px;
  right: -100px; }

.maple_2_r {
  width: 574px;
  height: 334px;
  z-index: 200;
  background-image: url("../../img/main/event/maple_2_r.png");
  background-repeat: no-repeat;
  top: 250px;
  right: -50px; }

.maple_3_r {
  width: 626px;
  height: 654px;
  z-index: 100;
  background-image: url("../../img/main/event/maple_3_r.png");
  background-repeat: no-repeat;
  top: 30px;
  right: -230px; }

#contentBox {
  width: 100%;
  height: auto;
  background-color: #cdf; }

.box_search_rank {
  width: 100%;
  height: 500px;
  background-color: #4C5C6C;
  position: relative; }

.deatail_search {
  width: 530px;
  height: 100%;
  float: left;
  background-color: #F1EBE4;
  transform: skew(-10deg); }
  .deatail_search::before {
    content: " ";
    width: 50vw;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: -50vw;
    margin-left: 1rem;
    background-color: inherit; }
  .deatail_search form {
    transform: skew(10deg);
    padding-top: 56px;
    box-sizing: border-box; }
    .deatail_search form fieldset {
      width: 480px;
      height: 342px;
      padding-top: 40px;
      padding-left: 50px;
      box-sizing: border-box; }
      .deatail_search form fieldset dl:first-of-type dt {
        width: 34px;
        height: 34px;
        display: block;
        margin-top: 18px;
        margin-bottom: 22px; }
      .deatail_search form fieldset dl:first-of-type dd::before {
        display: none; }
      .deatail_search form fieldset dl:first-of-type dd input:checked + label::after {
        display: none; }
      .deatail_search form fieldset dl:first-of-type dd label::before {
        display: none; }
      .deatail_search form fieldset dl:first-of-type dd label::after {
        display: none; }
      .deatail_search form fieldset dl dt {
        font-weight: bold; }
      .deatail_search form fieldset dl dd.box_con {
        width: 360px;
        height: 42px;
        margin-top: -55px;
        margin-bottom: 16px; }
        .deatail_search form fieldset dl dd.box_con label {
          display: block;
          width: 48px;
          height: auto;
          margin-left: 30px; }
          .deatail_search form fieldset dl dd.box_con label:nth-child(4n+1) {
            margin-left: 20px; }
      .deatail_search form fieldset dl dd.box_publish label {
        margin-right: 14px; }
      .deatail_search form fieldset dl dd.box_stock .box_radio label {
        width: 100px;
        height: auto;
        display: block;
        margin-left: -32px;
        text-align: center;
        margin-right: 75px; }
      .deatail_search form fieldset dl dd.box_price label {
        margin-right: 58px; }
      .deatail_search form fieldset dl dd {
        width: 500px;
        height: 40px;
        position: relative;
        margin-left: 80px;
        margin-top: 2px; }
        .deatail_search form fieldset dl dd::before {
          content: " ";
          display: block;
          width: 300px;
          height: 10px;
          position: absolute;
          position: absolute;
          top: -15px;
          left: 10px;
          background-color: #fff;
          border: 1px solid #333333; }
        .deatail_search form fieldset dl dd .box_check {
          float: left; }
          .deatail_search form fieldset dl dd .box_check > input:checked + label::before {
            background-image: url("../../img/main/checked.png");
            background-repeat: no-repeat;
            background-position: 0 0; }
          .deatail_search form fieldset dl dd .box_check > input:focus + label {
            outline: 1px solid #CC1F41; }
          .deatail_search form fieldset dl dd .box_check > label::before {
            content: " ";
            display: block;
            width: 26px;
            height: 20px;
            position: absolute;
            top: -2px;
            left: -24px;
            background-image: url("../../img/main/checked_none.png");
            background-repeat: no-repeat;
            background-position: 4px 0; }
        .deatail_search form fieldset dl dd .box_radio {
          float: left; }
        .deatail_search form fieldset dl dd input {
          display: block;
          float: left;
          opacity: 0;
          position: absolute;
          z-index: -5000; }
          .deatail_search form fieldset dl dd input:checked + label > i {
            width: 26px;
            height: 26px;
            top: -23px;
            left: 50%;
            margin-left: -13px;
            border-radius: 13px;
            padding: 2px;
            box-sizing: border-box; }
          .deatail_search form fieldset dl dd input:checked + label > i::before {
            background-color: #CC1F41;
            width: 100%;
            height: 100%;
            border-radius: 12px; }
          .deatail_search form fieldset dl dd input:focus + label > i::before {
            background-color: #CC1F41; }
        .deatail_search form fieldset dl dd label {
          margin-right: 10px;
          position: relative; }
          .deatail_search form fieldset dl dd label > i {
            content: " ";
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            position: absolute;
            top: -20px;
            left: 50%;
            margin-left: -10px;
            background-color: #fff;
            border: 1px solid #333333;
            border-radius: 10px;
            transition: all 500ms; }
            .deatail_search form fieldset dl dd label > i:before {
              content: " ";
              display: block;
              width: 100%;
              height: 100%;
              background-color: #fff;
              border-radius: 10px; }
    .deatail_search form .box_search {
      width: 402px;
      height: 40px; }
    .deatail_search form #searchBookD {
      width: 338px;
      height: 100%;
      float: left;
      border-radius: 15px;
      border: 1px solid #CC1F41; }
    .deatail_search form #DsearchBookBtn {
      width: 54px;
      height: 100%;
      float: right;
      border-radius: 15px;
      background-color: #CC1F41;
      border: 0;
      color: #fff;
      font-size: 1.5rem; }

.ranking_10 {
  width: 470px;
  height: 100%;
  float: left;
  padding-top: 40px;
  padding-left: 145px;
  box-sizing: border-box;
  background-color: #4C5C6C;
  margin-left: -50px; }
  .ranking_10 .box_ranking {
    width: 100%;
    height: 100%; }
    .ranking_10 .box_ranking h4 {
      font-size: 1.125rem;
      color: #fff;
      margin-bottom: 37px;
      position: relative; }
      .ranking_10 .box_ranking h4 .pink {
        color: #ECD8D9; }
      .ranking_10 .box_ranking h4 .top10 {
        display: inline-block;
        width: 50px;
        height: 16px;
        text-transform: uppercase;
        background-color: #CC1F41;
        color: #fff;
        font-size: 0.75rem;
        text-align: center;
        line-height: 16px;
        margin-left: 10px; }
      .ranking_10 .box_ranking h4::before {
        content: " ";
        width: 262px;
        height: 4px;
        display: block;
        background-image: url("../../img/main/t_underline.png");
        background-repeat: no-repeat;
        position: absolute;
        bottom: -16px;
        left: -12px; }
    .ranking_10 .box_ranking ul {
      width: auto;
      height: auto; }
      .ranking_10 .box_ranking ul li {
        width: 226px;
        height: 20px;
        color: #fff;
        margin-bottom: 10px;
        font-size: 1rem; }
        .ranking_10 .box_ranking ul li:first-child .rank {
          background-color: #CC1F41; }
        .ranking_10 .box_ranking ul li .rank {
          display: block;
          width: 26px;
          height: 100%;
          float: left;
          margin-right: 12px;
          background-color: #666666;
          text-align: center; }
        .ranking_10 .box_ranking ul li .grade {
          display: inline-block;
          width: 20px;
          height: 17px;
          float: right;
          font-size: 0.625rem;
          text-align: center; }
        .ranking_10 .box_ranking ul li .rank_up {
          background-image: url("../../img/main/grade_up.png");
          background-repeat: no-repeat;
          line-height: 22px; }
        .ranking_10 .box_ranking ul li .rank_down {
          background-image: url("../../img/main/grade_down.png");
          background-repeat: no-repeat;
          line-height: 14px; }

.book_show {
  width: 100%;
  height: 750px;
  background-image: url("../../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .book_show .box_wrap {
    padding: 145px 10px 0;
    box-sizing: border-box;
    position: relative; }
  .book_show h3 {
    width: auto;
    height: 40px;
    margin-left: 390px;
    font-size: 2.5rem;
    margin-bottom: 60px;
    position: relative; }
    .book_show h3::before {
      content: " ";
      display: block;
      width: 192px;
      height: 14px;
      position: absolute;
      background-image: url("../../img/title_deco.png");
      background-repeat: no-repeat;
      top: 20px;
      left: -212px; }
    .book_show h3::after {
      content: " ";
      display: block;
      width: 192px;
      height: 14px;
      position: absolute;
      background-image: url("../../img/title_deco.png");
      background-repeat: no-repeat;
      top: 20px;
      left: 175px;
      background-position: right; }
  .book_show .list_wrap {
    width: 950px;
    height: 330px;
    overflow: hidden; }
  .book_show .list_book {
    width: 1900px;
    height: 100%; }
    .book_show .list_book li {
      width: 300px;
      height: 330px;
      float: left;
      margin-right: 20px;
      box-shadow: 0.1rem 0.1rem 0.2rem rgba(85, 85, 85, 0.7);
      background-size: cover;
      background-position: center; }
      .book_show .list_book li:last-child {
        margin-right: 0; }
      .book_show .list_book li a {
        width: 100%;
        height: 100%;
        display: block; }
  .book_show .deco {
    width: 1014px;
    height: 34px;
    position: absolute;
    top: 570px;
    left: 50%;
    margin-left: -507px;
    z-index: 100;
    box-shadow: 0.15rem 0.15rem 0.3rem rgba(85, 85, 85, 0.7);
    background-image: url("../../img/book_deco.png");
    background-repeat: no-repeat;
    background-size: cover; }
  .book_show .btn_book {
    width: 162px;
    height: 0;
    position: absolute;
    bottom: 120px;
    left: 50%;
    margin-left: -81px; }
    .book_show .btn_book .btn {
      width: 52px;
      height: 60px;
      border-radius: 10px;
      background-color: rgba(51, 51, 51, 0.7);
      float: left;
      margin-right: 20px;
      cursor: pointer;
      background-image: url("../../img/btn_book.png");
      background-repeat: no-repeat; }
      .book_show .btn_book .btn:hover {
        background-color: #F18C00; }
    .book_show .btn_book .bnt_left_ {
      background-position: 10px center; }
    .book_show .btn_book .bnt_right_ {
      background-position: -62px center;
      margin-right: 0; }

.box_recommend {
  background-position: center; }
  .box_recommend .book_1 {
    background-image: url("../../img/main/recommend_book/reco_1.png");
    background-repeat: no-repeat; }
  .box_recommend .book_2 {
    background-image: url("../../img/main/recommend_book/reco_2.png");
    background-repeat: no-repeat; }
  .box_recommend .book_3 {
    background-image: url("../../img/main/recommend_book/reco_3.png");
    background-repeat: no-repeat; }
  .box_recommend .book_4 {
    background-image: url("../../img/main/recommend_book/reco_4.png");
    background-repeat: no-repeat; }
  .box_recommend .book_5 {
    background-image: url("../../img/main/recommend_book/reco_5.png");
    background-repeat: no-repeat; }
  .box_recommend .book_6 {
    background-image: url("../../img/main/recommend_book/reco_6.png");
    background-repeat: no-repeat; }

.box_new .list_book {
  background-position: center; }
  .box_new .list_book .book_1 {
    background-image: url("../../img/main/new_book/new_1.png");
    background-repeat: no-repeat; }
  .box_new .list_book .book_2 {
    background-image: url("../../img/main/new_book/new_2.png");
    background-repeat: no-repeat; }
  .box_new .list_book .book_3 {
    background-image: url("../../img/main/new_book/new_3.png");
    background-repeat: no-repeat; }
  .box_new .list_book .book_4 {
    background-image: url("../../img/main/new_book/new_4.png");
    background-repeat: no-repeat; }
  .box_new .list_book .book_5 {
    background-image: url("../../img/main/new_book/new_5.png");
    background-repeat: no-repeat; }
  .box_new .list_book .book_6 {
    background-image: url("../../img/main/new_book/new_6.png");
    background-repeat: no-repeat; }

.box_notice {
  width: 100%;
  height: 700px;
  background-color: #F2EFEB;
  padding-top: 130px;
  box-sizing: border-box;
  position: relative; }
  .box_notice .box_btn {
    width: 960px;
    height: 0;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -480px;
    z-index: 500; }
    .box_notice .box_btn .btn {
      width: 40px;
      height: 76px;
      background-image: url("../../img/btn_notice.png");
      background-repeat: no-repeat;
      cursor: pointer; }
    .box_notice .box_btn .btn_l {
      float: left;
      background-position: left center; }
    .box_notice .box_btn .btn_r {
      float: right;
      background-position: right center; }

.box_wrap {
  position: relative; }

.notice_wrap {
  width: 818px;
  height: 124px;
  overflow: hidden;
  margin-left: 72px;
  padding-top: 2px; }

.menu_notice {
  width: 1512px;
  height: 120px; }
  .menu_notice > li {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    float: left;
    margin-right: 54px; }
    .menu_notice > li:nth-child(1) > dl > dt {
      background-color: #F18C00; }
    .menu_notice > li:nth-child(1) > dl > dd {
      display: block; }
    .menu_notice > li:nth-child(3) .notice_contain > dt {
      font-size: 1.5625rem; }
    .menu_notice > li:last-child {
      margin-right: 0; }
    .menu_notice > li > dl {
      width: 100%;
      height: 100%; }
      .menu_notice > li > dl > dt {
        width: 100%;
        height: 100%;
        background-position: center;
        background-color: #7F7F7F;
        border-radius: 60px; }
        .menu_notice > li > dl > dt:hover {
          background-color: #F18C00; }
        .menu_notice > li > dl > dt > button {
          width: 100%;
          height: 100%; }
      .menu_notice > li > dl > dd {
        width: 960px;
        height: 250px;
        position: absolute;
        top: 180px;
        left: 0;
        background-color: #BCBCBC;
        border-radius: 38px;
        display: none; }
        .menu_notice > li > dl > dd::before {
          content: " ";
          width: 84px;
          height: 32px;
          display: block;
          background-image: url("../../img/top_arrow.png");
          background-repeat: no-repeat;
          position: absolute;
          top: -31px;
          left: 90px; }

.notice_contain {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-left: 34px;
  box-sizing: border-box; }
  .notice_contain > dt {
    width: auto;
    height: 130px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    line-height: 130px;
    text-align: center;
    margin-right: 40px;
    border-right: 1px solid #4C5C6C;
    font-size: 2.5rem;
    font-weight: bold; }
  .notice_contain > dd {
    width: 534px;
    height: 150px;
    float: left;
    font-size: 1.125rem;
    overflow: auto; }

.icon_1 {
  background-image: url("../../img/main/notice/icon_1.png");
  background-repeat: no-repeat; }

.icon_2 {
  background-image: url("../../img/main/notice/icon_2.png");
  background-repeat: no-repeat; }

.icon_3 {
  background-image: url("../../img/main/notice/icon_3.png");
  background-repeat: no-repeat; }

.icon_4 {
  background-image: url("../../img/main/notice/icon_4.png");
  background-repeat: no-repeat; }

.icon_5 {
  background-image: url("../../img/main/notice/icon_5.png");
  background-repeat: no-repeat; }

.icon_6 {
  background-image: url("../../img/main/notice/icon_6.png");
  background-repeat: no-repeat; }

.icon_7 {
  background-image: url("../../img/main/notice/icon_7.png");
  background-repeat: no-repeat; }

.icon_8 {
  background-image: url("../../img/main/notice/icon_8.png");
  background-repeat: no-repeat; }

.icon_9 {
  background-image: url("../../img/main/notice/icon_9.png");
  background-repeat: no-repeat; }

.box_info_ebook {
  width: 100%;
  height: 500px;
  background-color: #d98;
  padding-top: 60px;
  box-sizing: border-box;
  background-image: url("../../img/main/ebook_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .box_info_ebook h3 {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #fff; }
  .box_info_ebook .icon_equipment {
    width: 484px;
    height: 132px;
    margin: 40px auto; }
    .box_info_ebook .icon_equipment li {
      width: 106px;
      height: 100%;
      float: left;
      margin-right: 20px;
      background-image: url("../../img/main/ebook_icon.png");
      background-repeat: no-repeat; }
      .box_info_ebook .icon_equipment li:first-child {
        background-position: 18px 0; }
      .box_info_ebook .icon_equipment li:nth-child(2) {
        background-position: -130px 0; }
      .box_info_ebook .icon_equipment li:nth-child(3) {
        background-position: -280px 0; }
      .box_info_ebook .icon_equipment li:last-child {
        background-position: -428px 0;
        margin-right: 0; }
      .box_info_ebook .icon_equipment li a {
        width: 100%;
        height: 100%;
        display: block; }
  .box_info_ebook .btn_more {
    width: 340px;
    height: 90px;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    padding: 0;
    transition: all 300ms ease-out; }
    .box_info_ebook .btn_more:hover {
      background-color: #fff;
      color: #333333; }

.box_map_store {
  width: 100%;
  height: 600px;
  min-width: 960px; }
  .box_map_store .box_map {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #D6E8EA; }
    .box_map_store .box_map .map {
      width: 480px;
      height: 100%;
      float: right;
      background-image: url("../../img/main/store/store_map.png");
      background-repeat: no-repeat;
      position: relative; }
    .box_map_store .box_map .map_point {
      width: 60px;
      height: 70px;
      position: absolute;
      background-image: url("../../img/main/store/pinset.png");
      background-repeat: no-repeat;
      transition: all 300ms; }
      .box_map_store .box_map .map_point:hover {
        -webkit-transform: scale(1.2); }
      .box_map_store .box_map .map_point > button:focus {
        outline: 0;
        background-image: url("../../img/main/store/pinset_act.png");
        background-repeat: no-repeat; }
      .box_map_store .box_map .map_point button {
        width: 100%;
        height: 100%; }
    .box_map_store .box_map .actPoint {
      background-image: url("../../img/main/store/pinset_act.png");
      background-repeat: no-repeat;
      transform: scale(1.2); }
    .box_map_store .box_map #seoul {
      top: 14px;
      left: 130px; }
    .box_map_store .box_map #gyungi {
      top: 66px;
      left: 182px; }
    .box_map_store .box_map #deajun {
      top: 190px;
      left: 166px; }
    .box_map_store .box_map #deagu {
      top: 132px;
      left: 326px; }
    .box_map_store .box_map #busan {
      top: 288px;
      left: 295px; }
    .box_map_store .box_map #gwangju {
      top: 338px;
      left: 106px; }
  .box_map_store .box_contents {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #4C5C6C;
    position: relative; }
    .box_map_store .box_contents:before {
      content: " ";
      display: block;
      width: 67px;
      height: 96px;
      background-image: url("../../img/bg_arrow.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 390px;
      left: -65px;
      z-index: 100; }
    .box_map_store .box_contents .store_info {
      width: 480px;
      height: 100%;
      float: left;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #4C5C6C; }
      .box_map_store .box_contents .store_info:hover a:before {
        animation-name: example;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-direction: alternate; }
    .box_map_store .box_contents .active {
      z-index: 100; }
    .box_map_store .box_contents .store_img {
      width: 390px;
      height: 266px;
      margin: 62px auto;
      margin-bottom: 24px;
      border-radius: 30px;
      border: 1px solid #333333;
      background-size: 150%;
      background-position: center;
      transition: all 300ms ease-out; }
      .box_map_store .box_contents .store_img:hover {
        background-size: 200%; }
    .box_map_store .box_contents .store_info > dl {
      width: 336px;
      height: auto;
      color: #fff;
      margin-left: 60px;
      position: relative; }
      .box_map_store .box_contents .store_info > dl dt {
        width: 336px;
        height: auto;
        font-size: 1.5rem;
        padding-bottom: 10px;
        border-bottom: 1px solid #333333;
        margin-bottom: 16px;
        font-weight: bold; }
      .box_map_store .box_contents .store_info > dl dd {
        font-size: 1.125rem; }
        .box_map_store .box_contents .store_info > dl dd p:last-of-type {
          width: auto;
          height: auto; }
          .box_map_store .box_contents .store_info > dl dd p:last-of-type a {
            width: 150px;
            height: auto;
            padding-bottom: 4px;
            position: absolute;
            top: 160px;
            left: 235px;
            font-size: 1.375rem;
            cursor: pointer; }
            .box_map_store .box_contents .store_info > dl dd p:last-of-type a:hover {
              color: #F18C00; }
            .box_map_store .box_contents .store_info > dl dd p:last-of-type a:hover::before {
              background-image: url("../../img/main/store/more_hover.png");
              background-repeat: no-repeat; }
            .box_map_store .box_contents .store_info > dl dd p:last-of-type a::before {
              content: " ";
              display: block;
              width: 164px;
              height: 20px;
              position: absolute;
              top: 10px;
              left: 0;
              background-image: url("../../img/main/store/more.png");
              background-repeat: no-repeat; }

.box_introduce {
  width: 100%;
  height: 450px;
  background-color: #218;
  background-image: url("../../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .box_introduce ul {
    width: 100%;
    padding: 100px 10px 0 10px;
    box-sizing: border-box; }
    .box_introduce ul li {
      width: 300px;
      height: 260px;
      margin-right: 20px;
      float: left; }
      .box_introduce ul li:last-child {
        margin-right: 0; }
      .box_introduce ul li:nth-child(1) > .img_icon {
        background-image: url("../../img/main/icon/ebook_icon_1.png");
        background-repeat: no-repeat;
        background-position: center; }
      .box_introduce ul li:nth-child(2) > .img_icon {
        background-image: url("../../img/main/icon/ebook_icon_2.png");
        background-repeat: no-repeat;
        background-position: center; }
      .box_introduce ul li:nth-child(3) > .img_icon {
        background-image: url("../../img/main/icon/ebook_icon_3.png");
        background-repeat: no-repeat;
        background-position: center; }
      .box_introduce ul li:nth-child(1) > .img_icon {
        position: relative; }
      .box_introduce ul li:nth-child(1) > .img_icon::before {
        content: " ";
        width: 22px;
        height: 88px;
        background-image: url("../../img/main/icon/ebook_icon_1_hover.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 18px;
        left: 176px;
        transform: rotate(-18deg); }
      .box_introduce ul li:nth-child(2) > .img_icon {
        position: relative; }
      .box_introduce ul li:nth-child(2) > .img_icon::before {
        content: " ";
        width: 100%;
        height: 100%;
        background-image: url("../../img/main/icon/ebook_icon_2_hover.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center; }
      .box_introduce ul li:hover:nth-child(1) > .img_icon::before {
        animation: icon1 1000ms 1;
        animation-direction: alternate; }
      .box_introduce ul li:hover:nth-child(2) > .img_icon::before {
        animation: icon2 800ms 2; }
      .box_introduce ul li:hover:nth-child(3) > .img_icon {
        animation: icon3 500ms 2; }
      .box_introduce ul li .img_icon {
        width: 100%;
        height: 120px; }
      .box_introduce ul li dl {
        width: 100%;
        height: 140px;
        text-align: center; }
        .box_introduce ul li dl dt {
          width: 100%;
          height: auto;
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 25px; }
        .box_introduce ul li dl dd {
          width: 100%;
          height: auto;
          font-size: 1rem; }

@media screen and (max-width: 1500px) {
  .effect_maple {
    display: none; } }
