// 파일 주소
$url : '../../img/';

//색깔
$color : (white : #fff,
          black : #333333,
          primary : #4C5C6C,
          point1 : #F18C00,
          point2 : #CC1F41,
          sub1 : #E4DBCF,
          subgray: #BCBCBC,
          subgray2: #7F7F7F,
          shadow: #555,
          bg: #F1EBE4,
          notice: #F2EFEB,
          ancor: #0000C0
          );

//애니메이션 코드

@keyframes example {
  from {
    left:0;
  }
  to{
    left:20px;
  }
}
