// 배경 이미지 
@mixin bgImg($u:$url ,$f:none,$r:no-repeat){
  background-image: url($u + $f); background-repeat: no-repeat;
}

// 가상 선택자
@mixin pseudo($w, $h){
  content: " "; display: block; width: $w; height: $h; position: absolute;
}

// deco들어간 제목
// @mixin title($w:192px, $f:14px, $f:'title_deco.png'){
//   width: auto; height: 40px; margin-left: 390px; font-size: 40/16 +rem; margin-bottom: 60px; position: relative;
//           &::before{@include pseudo($w, $h); @include bgImg($f); top:20px; left:-212px;}
//           &::after{@include pseudo($w, $f); @include bgImg($f); top: 20px; left: 175px; background-position: right;
// }

// 추천 도서 등 책 리스트 만들기
// @mixin bookmenu(){
  
// }








